body {
    background-color:#FFF0D1;
    color: #795757;
    font-family: cursive;
}
#name{
    font-size: 400%;
    font-style: normal;
    font-family: brush script mt, cursive;
}
h1{
    color: #3B3030;
}
h2{
    color: #664343;

}
h3{
    color: #664343;

}
hr {
    border-style: none;
    border-top: dotted 8px;
    width: 50%;
    color: #557C56;
}
ul{
    list-style: outside;
}
table{
    border-collapse: collapse;
    size: 10px;
}
td{
    text-align: center;
}


.foot{
    font-size: xx-large;
    text-align: center;
    margin: auto;
    width: 800px;
}
.skills{
    td:hover {background-color: #BEDC74;}

}